@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('fonts/Nunito-Regular.woff2') format('woff2'), url('fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url('fonts/Raleway-Regular.woff2') format('woff2'), url('fonts/Raleway-Regular.ttf') format('truetype');
}

:root {
  --system-font: Nunito, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --heading-font-family: Raleway, Verdana, sans-serif;

  /* light theme */
  --code-fence-background: rgba(135, 206, 235, 0.10);
  --code-background: var(--background);
  --code-color: #c04533;
}

[data-theme=dark] {
  /* dark theme */
  --background: #212529;
  --text-color: #cccccc;
  --aside-background: var(--background);
  --menu-item-hover-background: rgba(128, 128, 128, 0.45);
  --code-fence-background: rgba(68, 68, 68, 0.45);
  --code-background: var(--background);
  --code-color: #f5f5f6;
}

body, table, dl, pre, code {
  font-size: var(--font-100);
}

.fsdocs-tip {
  font-size: var(--font-50);
}

.fsdocs-param-name {
  font-weight: 600 !important;
}

h1 {
  font-size: var(--font-500);
}

h2 {
  font-size: var(--font-400);
}

h3 {
  font-size: var(--font-300);
}

h4,
h5,
h6 {
  font-size: var(--font-200);
}

a,
a:link {
  text-decoration: none;
}

a:active:not(.nav-link),
a:focus:not(.nav-link),
a:hover:not(.nav-link) {
  outline: none;
  text-decoration: underline;
}

.menu>li.nav-header {
  text-transform: none;
}

p.fsdocs-remarks:not(:empty) {
  margin-top: 1em;
}

pre.fssnip.highlighted>code,
table.pre .fssnip code {
  background-color: var(--code-fence-background);
  color: var(--code-identifiers-color);
  padding: var(--spacing-300);
  font-size: 0.85rem;
}