version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/src/Fornax.Seo"
    ignore:
      - dependency-name: "FSharp.Core"
      - dependency-name: "HtmlAgilityPack"
      - dependency-name: "Microsoft.NET.Test.Sdk"
      - dependency-name: "NUnit3TestAdapter"
      - dependency-name: "NUnit"
      - dependency-name: "fantomas-tool"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    target-branch: "next"
  - package-ecosystem: "nuget"
    directories:
      - "/test/Fornax.Seo.Tests"
    ignore:
      - dependency-name: "FSharp.Core"
      - dependency-name: "Newtonsoft.Json"
      - dependency-name: "fantomas-tool"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    target-branch: "next"
    groups:
      testing:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 10
    target-branch: "next"
    groups:
      gh-actions:
        patterns:
          - "*"
