* -text
**.sln              text   eol=crlf
**.fsproj           text   eol=crlf
**.props            text   eol=crlf
**.targets          text   eol=crlf
**.cmd              text   eol=crlf
**.bat              text   eol=crlf
*.json              text   eol=lf
*.jsonld            text   eol=lf
*.yml               text   eol=lf
scripts/changelog   text   eol=lf
build               text   eol=lf
test/**/specs/**    text   eol=lf
example/**          linguist-documentation
docs/**             linguist-documentation