* -text
**.sln              text   eol=crlf
**.fsproj           text   eol=crlf
**.cmd              text   eol=crlf
**.bat              text   eol=crlf
scripts/ci          text   eol=lf
scripts/gendocs     text   eol=lf
example/**/build    text   eol=lf
example/**          linguist-documentation
docs/**             linguist-documentation