version 8.0.3

group fake
  source https://api.nuget.org/v3/index.json
  storage: none
  strategy: min
  generate_load_scripts: true
  framework: net8.0

  nuget Fake.Core.Target
  nuget Fake.DotNet.Cli
  nuget Fake.Tools.Git
