version 9.0.2

group fake
  source https://api.nuget.org/v3/index.json
  storage: none
  strategy: min
  generate_load_scripts: true
  framework: net8.0

  nuget Fake.Core.Target    ~> 6.1.3
  nuget Fake.DotNet.Cli     ~> 6.1.3
  nuget Fake.Tools.Git      ~> 6.1.3
