version 10.3.1

group fornax_demo
  source https://api.nuget.org/v3/index.json
  source ../../release
  storage: packages
  strategy: min
  generate_load_scripts: true
  framework: netstandard2.0

  nuget Markdig ~> 0.41.3
  nuget Fornax.Seo @> 1.5 prerelease
