@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body, a, div, p, dt, table, td, #fsdocs-content {
  font-family: Nunito, sans-serif;
}

h1, h2, h3, h4, h5, h6, th, dl, #fsdocs-nav {
  font-family: Raleway, Verdana, sans-serif;
}

body, div, ul, ol, thead, tbody {
  font-size: 16px;
}

dl {
  font-size: 14px;
}

table.pre {
	margin-bottom: 16px;
}

.bg-secondary {
  background-color: rgb(245, 245, 255) !important;
}

#fsdocs-nav input {
  border-color: #ccc;
  outline: 0;
}

div.fsdocs-tip {
  background-color: #fefefe;
  color: #333;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px 1px #999;
}

div.fsdocs-tip code {
  color: #e83e8c
}