name: Unit Tests
on:
  pull_request:
    branches:
      - next
      - main
  push:
    branches:
      - next
    tags-ignore:
      - '**'
permissions:
  contents: read
jobs:
  unit_tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Pre-test install
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: '8.0.x'
      - name: Run tests
        run: |-
          ./build -e CI=true
      - name: Upload coverage report
        if: startsWith(matrix.os, 'ubuntu')
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de #v5.5.2
        with:
          files: ./coverage.xml
          disable_search: true
          disable_telem: true
          token: ${{ secrets.CODECOV_TOKEN }}
