name: Unit Tests
on:
  pull_request:
    branches:
      - next
      - main
  push:
    branches:
      - next
    tags-ignore:
      - '**'
permissions:
  contents: read
jobs:
  unit_tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Pre-test install
        uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
        with:
          dotnet-version: '8.0.x'
      - name: Cache packages
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: |-
           ${{ github.workspace }}/.paket
           ${{ github.workspace }}/example/Fornax.Seo.Example/.paket
          key: ${{ runner.os }}-nuget-${{ hashFiles('paket.lock') }}
          restore-keys: |-
            ${{ runner.os }}-nuget-
            ${{ runner.os }}-
      - name: Run tests
        run: |-
          ./build -e CI=true
