name: NuGet
on:
  push:
    tags:
      - '**'
permissions:
  contents: read
jobs:
  package:
    runs-on: windows-latest
    permissions:
      contents: write
      id-token: write
    concurrency:
      group: rel-${{ github.ref_name }}
      cancel-in-progress: true
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Pre-build Install
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: '8.0.x'
      - name: Build package
        run: |-
          .\build.cmd -e CI=true Pack
      - name: Collect release info
        run: |
          .\scripts\changelog.ps1 | Out-File release_notes.txt -Encoding utf8
      - name: Save package
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: Fornax.Seo.${{ github.ref_name }}.nupkg
          path: ${{ github.workspace }}/release/*.nupkg
          retention-days: 30
          if-no-files-found: error
      - name: Prepare release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          body_path: release_notes.txt
          fail_on_unmatched_files: true
          files: ${{ github.workspace }}/release/*.nupkg
          name: ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
      - name: Obtain NuGet API key
        uses: NuGet/login@d22cc5f58ff5b88bf9bd452535b4335137e24544 # v1.1.0
        id: login
        with:
          user: ${{ github.actor }}
      - name: Publish release
        run: |-
          dotnet nuget push release\Fornax.Seo.${env:RELEASE}.nupkg -k ${env:API_KEY} -s https://api.nuget.org/v3/index.json --skip-duplicate
        env:
          CI: true
          RELEASE: ${{ github.ref_name }}
          API_KEY: ${{ steps.login.outputs.NUGET_API_KEY }}
