name: NuGet
on:
  push:
    tags:
      - '**'
jobs:
  package:
    runs-on: windows-latest
    permissions:
      actions: read
      contents: write
    defaults:
      run:
        shell: cmd
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Pre-build Install
        uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
        with:
          dotnet-version: '8.0.x'
      - name: Cache packages
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: |
           ~/.nuget/packages
           ${{ github.workspace }}/.paket
          key: ${{ runner.os }}-nuget-${{ hashFiles('src/Fornax.Seo/Fornax.Seo.fsproj') }}
          restore-keys: |-
            ${{ runner.os }}-nuget-
            ${{ runner.os }}-
      - name: Build package
        run: |-
          .\build.cmd -e CI=true Pack
      - name: Collect release info
        run: |
          .\scripts\changelog.ps1 | Out-File release_notes.txt -Encoding utf8
        shell: powershell
      - name: Save package
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: Fornax.Seo.${{ env.RELEASE_VERSION }}.nupkg
          path: ${{ github.workspace }}/release/*.nupkg
          retention-days: 30
          if-no-files-found: error
      - name: Prepare release
        uses: ncipollo/release-action@bcfe5470707e8832e12347755757cec0eb3c22af # v1.18.0
        with:
          artifacts: ${{ github.workspace }}/release/*.nupkg
          bodyFile: release_notes.txt
          name: ${{ github.ref_name }}
          draft: true
          allowUpdates: true
          artifactErrorsFailBuild: true
          replacesArtifacts: true
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish release
        run: |-
          dotnet nuget push release\Fornax.Seo.*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
        env:
          CI: true
